<html>
    <head>
        <title>
            Cadastro
        </title>
        <meta charset='UTF-8'>
    </head>
    <body>
        <h1>
            <form method="post" action="index.html" > <!-- enctype='multipart/form-data' -->
                <label for="name">Nome</label>
                <input type="text" name="name">
                <br>
                <label for="type">Tipo</label>
                <input type="text" name="type">
                <br><br>
                <input type="file" name="fileToUpload" id="fileToUpload">
                <br><br>
                <input type="submit" value="Submit">
                <input name="delete" style="display: none;" value="true">
            </form> 
        </h1>
    </body>
</html>