<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cadastrar animal</title>
</head>
<body>
    
</body>
</html>

<html>
    <head>
        <title>
            Cadastro
        </title>
        <meta charset='UTF-8'>
    </head>
    <body>
        <h1>
            <form method="post" action="index.html" > <!-- enctype='multipart/form-data' -->
                <input type="hidden" name="user_rowid" value="1">
                <label for="NAME">Nome</label>
                <input type="text" name="name">
                <br>
                <label for="TYPE">Tipo</label>
                <input type="text" name="type">
                <br>
                <label for="COLOR">Cor</label>
                <input type="text" name="color">
                <br>
                <label for="AGE">Idade</label>
                <input type="number" name="age" min="0">
                <br>
                <label for="HEIGHT">Altura</label>
                <input type="number" name="height" step="0.01" min="0">
                <br>
                <label for="WEIGHT">Peso</label>
                <input type="number" name="weight" step="0.01" min="0">
                <br>
                <input type="submit" value="Submit">
                <input name="class_name" type="hidden" value="animal">
            </form> 
        </h1>
    </body>
</html>